/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap");

/* VARIABLES */
$debugbg_1: salmon;
$debugbg_2: salmon;
$debugbg_3: salmon;
$debugbg_4: salmon;

$cardheight: 150px;
$cardwidth: 150px;
$textcolor: darken(#fff, 7%);
$numberfontsize: 6.5em;

// FONTS

$font: "Red Hat Text";
$bgcolor: #211d2b;
$titlecolor: #ffffff;
$wide: 4px;
$bodycopy: 14px;
$bgcard_top: #343650;
$bgcard_bot: lighten(#343650, 10%);
$grayishblue: hsl(237, 18%, 59%);
$softred: hsl(345, 95%, 68%);
$vdesatblue: hsl(236, 21%, 26%);
$desatblue: hsl(237, 18%, 59%);

//////////////////////////////////////
//////////////////////////////////////

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: $textcolor;
  background: darken(salmon, 5%);
}

.wrapper {
  perspective: 500px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    margin-top: 5vh;
    height: 40px;
    width: 125px;
    outline: none;
    border: none;
    background-color: $textcolor;
    color: salmon;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    transition: 0.25s all ease;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 5px pink;
      letter-spacing: 4px;
      transition: 0.25s all ease;
    }
  }

  .card_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    font-family: Red Hat Text;

    //hinges
  }

  .card_behind {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background: transparent;
    pointer-events: none;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $numberfontsize;
    border-radius: 10px;

    &:before {
      position: absolute;
      content: attr(countbottom);
      width: 100%;
      height: 100%;
      top: 0;
      background: $bgcard_bot;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      //clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
      clip-path: polygon(
        50% 100%,
        100% 100%,
        100% 55%,
        95% 50%,
        5% 50%,
        0 55%,
        0 100%
      );
    }

    &:after {
      position: absolute;
      border-radius: 10px;
      content: attr(counttop);
      width: 100%;
      height: 100%;
      top: 0;
      //transform: scaley(1.01);
      background: $bgcard_top;
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(50% 0%, 100% 0, 100% 45%, 95% 50%, 5% 50%, 0 45%, 0 0);
    }
  }

  .card {
    height: $cardheight;
    width: $cardwidth;
    position: relative;
    transition: 1s transform;
    transform-style: preserve-3d;

    div {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
    }

    .card__front {
      pointer-events: none;
      background-color: $bgcard_top;
      clip-path: polygon(50% 0%, 100% 0, 100% 45%, 95% 50%, 5% 50%, 0 45%, 0 0);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $numberfontsize;
      transform-origin: 50% 50%;
      z-index: 100;

      &::after {
        content: attr(count);
      }
    }

    .card__back {
      pointer-events: none;
      background-color: $bgcard_bot;
      transform: rotate3d(1, 0, 0, 180deg);
      //clip-path: polygon(0 100%, 100% 100%, 100% 49.5%, 0 49.5%);
      clip-path: polygon(
        50% 100%,
        100% 100%,
        100% 55%,
        95% 50%,
        5% 50%,
        0 55%,
        0 100%
      );
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $numberfontsize;
      transform-origin: 50% 50%; //un brin hacky pour éviter le décalage dans le texte lors du flip

      &::after {
        content: attr(count);
      }
    }
  }
}

/* utils ~ decor stuff */

#shader {
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  border-radius: 10px;
  clip-path: polygon(
    50% 100%,
    100% 100%,
    100% 55%,
    95% 50%,
    5% 50%,
    0 55%,
    0 100%
  );
}

/* ANIMATION CLASSES */

.animdarken {
  animation: 0.5s darken forwards linear;
  animation-delay: 0.2s;
}

.anim-flip-first_half {
  animation: 0.5s tick forwards ease-in;
}
.anim-flip-second_half {
  animation: 0.75s tack forwards ease-out;
}

.anim-hide {
  animation: 1.25s hidea;
}

/* KEYFRAMES */

@keyframes tick {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, -90deg);
  }
}

@keyframes tack {
  0% {
    transform: rotate3d(1, 0, 0, -90deg);
  }

  30% {
    transform: rotate3d(1, 0, 0, -180deg);
  }

  60% {
    transform: rotate3d(1, 0, 0, -160deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, -180deg);
  }
}

@keyframes darken {
  0% {
    box-shadow: inset 0px 120px 50px -90px black;
  }

  100% {
    box-shadow: inset 0px 120px 50px 20px black;
  }
}
