$debugbg_1: salmon;
$debugbg_2: salmon;
$debugbg_3: salmon;
$debugbg_4: salmon;

$cardheight: 150px;
$cardwidth: 150px;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

$textcolor: darken(#fff, 7%);
$numberfontsize: 6.5em;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: $textcolor;
  background: darken(salmon, 5%);
}

.wrapper {
  perspective: 500px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    margin-top: 5vh;
    height: 40px;
    width: 125px;
    outline: none;
    border: none;
    background-color: $textcolor;
    color: salmon;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    transition: 0.25s all ease;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 5px pink;
      letter-spacing: 4px;
      transition: 0.25s all ease;
    }
  }

  .card_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    font-family: Montserrat;
  }

  .card_behind {
    box-shadow: 0px 0px 10px white;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background: $debugbg_4;
    pointer-events: none;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $numberfontsize;

    &:before {
      position: absolute;
      content: attr(countbottom);
      width: 100%;
      height: 100%;
      top: 0;
      background: $debugbg_4;
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
    }

    &:after {
      position: absolute;
      content: attr(counttop);
      width: 100%;
      height: 100%;
      top: 0;
      //transform: scaley(1.01);
      background: $debugbg_3;
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
    }
  }

  .card {
    height: $cardheight;
    width: $cardwidth;
    position: relative;
    transition: 1s transform;
    transform-style: preserve-3d;

    div {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
    }

    .card__front {
      pointer-events: none;
      background-color: $debugbg_1;
      clip-path: polygon(0 0, 100% 0%, 100% 50.5%, 0 50.5%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $numberfontsize;
      transform-origin: 50% 50%;

      &::after {
        content: attr(count);
      }
    }

    .card__back {
      pointer-events: none;
      background-color: $debugbg_2;
      transform: rotate3d(1, 0, 0, 180deg);
      clip-path: polygon(0 100%, 100% 100%, 100% 49.5%, 0 49.5%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $numberfontsize;
      transform-origin: 50% 50%; //un brin hacky pour éviter le décalage dans le texte lors du flip

      &::after {
        content: attr(count);
      }
    }
  }
}

/* utils ~ decor stuff */

#shader {
  width: 100%;
  height: 50%;
  bottom: 0;
  position: absolute;
}

/* ANIMATION CLASSES */

.animdarken {
  animation: 0.5s darken forwards linear;
  animation-delay: 0.2s;
}

.anim-flip-first_half {
  animation: 0.5s tick forwards linear;
}
.anim-flip-second_half {
  animation: 0.5s tack forwards linear;
}

/* KEYFRAMES */

@keyframes tick {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, -90deg);
  }
}

@keyframes tack {
  0% {
    transform: rotate3d(1, 0, 0, -90deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, -180deg);
  }
}

@keyframes darken {
  0% {
    box-shadow: inset 0px 0px 39px -40px lighten(#000, 20%);
  }

  100% {
    box-shadow: inset 0px 98px 80px -40px lighten(#000, 20%);
  }
}
