/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap");

/* VARIABLES */
$cardheight: 150px;
$cardwidth: 150px;
$textcolor: darken(#fff, 7%);
$numberfontsize: 6.5em;

// FONTS

$font: "Red Hat Text";
$bgcolor: #211d2b;
$titlecolor: #ffffff;
$wide: 4px;
$bodycopy: 14px;
$bgcard_top: #343650;
$bgcard_bot: lighten(#343650, 10%);
$grayishblue: hsl(237, 18%, 59%);
$softred: lighten(hsl(345, 95%, 68%), 10%);
$softred_darkened: hsl(345, 95%, 68%);
$vdesatblue: hsl(236, 21%, 26%);
$desatblue: hsl(237, 18%, 59%);

//////////////////////////////////////
//////////////////////////////////////

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

body {
  margin: 0;
  padding: 0;
  color: $textcolor;
  background: $bgcolor;
}

#container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("../img/bg-stars.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;

  &:before {
    content: "";
    background-image: url("../img/pattern-hills.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.wrapper {
  margin-top: 10%;
  perspective: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .card_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Red Hat Text;
  }

  .card_behind {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background: transparent;
    pointer-events: none;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $numberfontsize;
    border-radius: 10px;

    &:before {
      position: absolute;
      content: attr(countbottom);
      width: 100%;
      height: 100%;
      top: 0;
      background: $bgcard_bot;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      clip-path: polygon(0 100%, 100% 100%, 100% 55%, 95% 50%, 5% 50%, 0 55%);
      color: $softred;
    }

    &:after {
      position: absolute;
      border-radius: 10px;
      content: attr(counttop);
      width: 100%;
      height: 100%;
      top: 0;
      background: $bgcard_top;
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(0 0, 100% 0, 100% 45%, 95% 50%, 5% 50%, 0 45%);
      color: $softred_darkened;
    }
  }

  .card {
    height: $cardheight;
    width: $cardwidth;
    position: relative;
    transition: 1s transform;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; /** fixes non transitive 3d from parent and child **/

    div {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
    }

    .card__front {
      pointer-events: none;
      background-color: $bgcard_top;
      clip-path: polygon(0 0, 100% 0, 100% 45%, 95% 50%, 5% 50%, 0 45%);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $numberfontsize;
      transform-origin: 50% 50%;
      z-index: 1;
      color: $softred_darkened;

      &::after {
        content: attr(count);
      }
    }

    .card__back {
      pointer-events: none;
      background-color: $bgcard_bot;
      transform: rotate3d(1, 0, 0, -180deg);
      clip-path: polygon(0 100%, 100% 100%, 100% 55%, 95% 50%, 5% 50%, 0 55%);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $numberfontsize;
      transform-origin: 50% 50.01%; //hacky mais solve le glitch texte blurry sur transform en backface pour god knpows la raison
      color: $softred;

      &::after {
        content: attr(count);
      }
    }
  }
}

.legend {
  position: absolute;
  bottom: -50%;
  right: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  width: -moz-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  padding-top: 25px;
  font-size: 0.75em;
  font-family: Montserrat;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-shadow: 1px 2px 0px black;
}

/* utils ~ decor stuff */

#shader {
  width: $cardwidth;
  height: $cardheight;
  bottom: 0;
  position: absolute;
  border-radius: 10px;
  clip-path: polygon(0 100%, 100% 100%, 100% 55%, 95% 50%, 5% 50%, 0 55%);
}

/* ANIMATION CLASSES */

.animdarken {
  animation: 0.25s darken forwards linear;
  animation-delay: 0.05s;
}

.anim-flip-first_half {
  animation: 0.25s tick forwards ease-in;
}
.anim-flip-second_half {
  animation: 0.5s tack forwards ease-out;
}

.anim-hide {
  animation: 1.25s hidea;
}

/* KEYFRAMES */

@keyframes tick {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, -95deg);
  }
}

@keyframes tack {
  0% {
    transform: rotate3d(1, 0, 0, -95deg);
  }

  30% {
    transform: rotate3d(1, 0, 0, -180deg);
  }

  60% {
    transform: rotate3d(1, 0, 0, -160deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, -180deg);
  }
}

@keyframes darken {
  0% {
    box-shadow: inset 0px 120px 50px -90px black;
  }

  100% {
    box-shadow: inset 0px 120px 50px 20px black;
  }
}
